.menu-icon, .ways, .cart, .pulse, .lamp, .infinity, .options, .like, .comment, .phone, .wp, .instrument{
	background: url(sprites.png) no-repeat;
}

.menu-icon{
	background-position: -10px -15px ;
	width: 31px;
	height: 15px;
}

.ways{
	background-position: -14px -59px ;
	width: 28px;
	height: 28px;
}

.cart{
	background-position: -13px -109px ;
	width: 28px;
	height: 28px;
}

.pulse{
	background-position: -55px -3px ;
	width: 53px;
	height: 48px;
}

.lamp{
	background-position: -124px -3px ;
	width: 35px;
	height: 53px;
}

.infinity{
	background-position: -58px -62px ;
	width: 53px;
	height: 23px;
}

.options{
	background-position: -129px -62px ;
	width: 53px;
	height: 40px;
}

.like{
	background-position: -73px -120px ;
	width: 16px;
	height: 14px;
}

.comment{
	background-position: -125px -120px ;
	width: 15px;
	height: 16px;
}

.phone{
	background-position: -211px -18px ;
	width: 12px;
	height: 23px;
}

.wp{
	background-position: -210px -63px ;
	width: 23px;
	height: 23px;
}

.instrument{
	background-position: -169px -114px ;
	width: 25px;
	height: 24px;
}

